In [ ]:
# Elroe version

In [60]:
import pandas as pd
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

bank = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/bank.csv')

In [27]:
# Finding interesting customer segments based on their previous marketing campaign.
# Finding a way to identify the types of customers most likely to respond favorably to future marketing campaigns.
# Proving to a skeptical Senhor Ferreira that a targeted campaign based on data science will significantly outperform
# a campaign made up of randomly selected customers.

In [61]:
bank.head()
clean_df = bank.dropna()
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37069 entries, 0 to 37068
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             37069 non-null  int64
 1   job             37069 non-null  object
 2   marital         37069 non-null  object
 3   education       37069 non-null  object
 4   default         37069 non-null  object
 5   housing         37069 non-null  object
 6   loan            37069 non-null  object
 7   contact         37069 non-null  object
 8   month           37069 non-null  object
 9   day_of_week     37069 non-null  object
 10  campaign        37069 non-null  int64
 11  pdays           37069 non-null  int64
 12  previous        37069 non-null  int64
 13  poutcome        37069 non-null  object
 14  emp.var.rate    37069 non-null  float64
 15  cons.price.idx  37069 non-null  float64
 16  cons.conf.idx   37069 non-null  float64
 17  euribor3m       37069 non-null  float64
 18  nr.employed     37069 non-null  float64
 19  y               37069 non-null  object
dtypes: float64(5), int64(4), object(11)
memory usage: 5.7+ MB

In [82]:
# categorize education
education_mapping = {
    'illiterate': 1,
    'high.school': 12,
    'basic.4y': 16,
    'basic.6y': 18,
    'basic.9y': 21,
    'professional.course': 14,  
    'university.degree': 16,
    'unknown': 99  
}
# categorize month
month_mapping = {
    'jan': 1,
    'feb': 2,
    'mar': 3,
    'apr': 4,
    'may': 5,
    'jun': 6,
    'jul': 7,
    'aug': 8,
    'sep': 9,
    'oct': 10,
    'nov': 11,
    'dec': 12
}
# categorize day
day_mapping = {
    'mon': 1,
    'tue': 2,
    'wed': 3,
    'thu': 4,
    'fri': 5
}

from sklearn.preprocessing import MinMaxScaler
# Create an instance of the transform object we're going to use
scaler = MinMaxScaler()

clean_df['age_scaled'] = scaler.fit_transform(clean_df[ ['age'] ])
clean_df['pDays_scaled'] = scaler.fit_transform(clean_df[ ['pdays'] ])

# Map the string values to numbers
clean_df['month_numeric'] = clean_df['month'].map(month_mapping)
clean_df['day_of_week_numeric'] = clean_df['day_of_week'].map(day_mapping)
clean_df['education_numeric'] = clean_df['education'].map(education_mapping)

clean_df = pd.DataFrame(clean_df)
# Check if 'day_of_week' column exists before applying get_dummies()
if 'default' and 'loan' and 'housing' in clean_df.columns:
    clean_df = pd.get_dummies(clean_df, columns=['default', 'loan', 'housing'])

X = clean_df[['age_scaled', 'pDays_scaled', 'month_numeric', 'day_of_week_numeric', 'education_numeric',
               'euribor3m', 'previous', 'cons.price.idx', 'cons.conf.idx', 'campaign']]
Y = clean_df[['y']]

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=.2)
best_clf = DecisionTreeClassifier(max_depth = 4)
best_clf.fit(X_train, Y_train)
top_score = best_clf.score(X_test, Y_test)
top_score

0.898300512543836

In [83]:


clean_df

,age,job,marital,education,contact,month,day_of_week,campaign,pdays,previous,...,education_numeric,default_no,default_unknown,default_yes,loan_no,loan_unknown,loan_yes,housing_no,housing_unknown,housing_yes
0,56,housemaid,married,basic.4y,telephone,may,mon,1,999,0,...,16,True,False,False,True,False,False,True,False,False
1,57,services,married,high.school,telephone,may,mon,1,999,0,...,12,False,True,False,True,False,False,True,False,False
2,37,services,married,high.school,telephone,may,mon,1,999,0,...,12,True,False,False,True,False,False,False,False,True
3,40,admin.,married,basic.6y,telephone,may,mon,1,999,0,...,18,True,False,False,True,False,False,True,False,False
4,56,services,married,high.school,telephone,may,mon,1,999,0,...,12,True,False,False,False,False,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37064,73,retired,married,professional.course,cellular,nov,fri,1,999,0,...,14,True,False,False,True,False,False,False,False,True
37065,46,blue-collar,married,professional.course,cellular,nov,fri,1,999,0,...,14,True,False,False,True,False,False,True,False,False
37066,56,retired,married,university.degree,cellular,nov,fri,2,999,0,...,16,True,False,False,True,False,False,False,False,True
37067,44,technician,married,professional.course,cellular,nov,fri,1,999,0,...,14,True,False,False,True,False,False,True,False,False
37068,74,retired,married,professional.course,cellular,nov,fri,3,999,1,...,14,True,False,False,True,False,False,False,False,True